#nixonBox{
    position: absolute;
    background-color: red;
    width: 350px;
    height: 350px;
    border: black solid 10px;
    text-align: center;
    font-size: 50px;
    transition: 2s all;
    transform:translate(-50%,-50%);
};
#nixonBox p{
    font-size: 50px;
    padding-top: 8%;
    margin: 0%;
}
#governBox{
    position: absolute;
    background-color: blue;
    width: 350px;
    height: 350px;
    border: black solid 10px;
    text-align: center;
    transition: 3s all;
    margin: 3.5%;
}
#governBox p{
    font-size: 50px;
    padding-top: 8%;
    padding-bottom: 12%;
    margin: 0%;
}
#textBox{
    position: relative;
    text-align: center;
    font-size: 50px;
    transition: 10s all;
    display: grid;
    background-color: white;
    border: black solid 10px;
    margin-top: 5%;
    height: 500px;
}
#votedText{
    visibility: hidden;
}
body{
    transition: 10s all;
    background-image: url('flag.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}